<template>
  <v-app>
<!--    <v-container class="white" text-xs-center>-->

    <!-- ↓↓↓ ここにhtmlコーディングしていく ↓↓↓ -->

    <h1>{{string}}</h1>
    <p>{{integer}}</p>
    <p>{{bool}}</p>
    <ul id="example">
      <v-list v-model="list" v-for="(item, index) in list">
        <p>{{item}}</p>
      </v-list>
    </ul>
    <ul id="example2">
      <v-list v-model="jsonData" v-for="item in jsonData">
        <p>{{item.name}} {{item.kana}}</p>
      </v-list>
    </ul>

    <!-- インポートしたコンポーネントタグで記述することで別ファイルのコードをここに表示できるようなる -->
    <Sample string="親から子に値をわたせるぞ"></Sample>

      <v-flex xs12 sm8 md8 pt-3>
        <v-btn color="cyan darken-2" flat  @click="clickMe">
          Click Me!
        </v-btn>
      </v-flex>

    <!-- ↑↑↑ こにhtmlコーディングしていく ↑↑↑ -->
<!--    </v-container>-->
  </v-app>
</template>

<script>

//子コンポーネントをインポート
import Sample from '@/components/Sample'

import API from '@/libs/api'
import Auth from '@/libs/auth'

export default {
  data() {
    return {
        //動的な値や処理で扱う変数はここで定義しておく
        // 例
        string: 'タイトル',//文字列
        integer: 1,
        bool: true,//真偽値
        list: ["a","b","c","d","e"],//配列
        jsonData: [{name: '名前1', kana:'カナ1'},{name: '名前2', kana:'カナ2'}]//jsonもいける
    }
  },
  //vue.jsではいくつかフックポイントが用意されています。
  //それぞれどの関数に記述するかによって処理されるタイミングが異なります。

  //インスタンス作成直ごに呼ばれます
  //とにかく何より最初に処理したい場合はここに書く（よく使う）
  created(){
    console.log("インスタンスが作成されたよ。")
  },

  //インスタンスが作成された後、elementへのマウントされる前で実行されます
  beforeMount() {
    console.log("インスタンスが作成されたよ。これからelementへマウントするよ。")
  },

  //インスタンスが作成された後、elementへのマウントされる前で実行されます
  //ただし、子コンポーネント全てをマウントしたことは保証しません。
  mounted() {
    console.log("elementへマウントしたよ。")
  },
  //データの更新があった時に、rerenderされる前に実行されます。
  beforeUpdate(){
    console.log("データの更新があったよ。renderするね。")
  },
  updated(){
    console.log("データの更新があったよ。renderも終わったよ。")

  },

  //他にもいろいろありますが、割愛します。
  computed: {

  },


  //インポートしたコンポーネントをタグとして使用可能にする
  components: {
    Sample
  },

  //自作の関数はこの中に記述する
  methods:{
    clickMe: function () {
      alert("押したね")
    }
  }

}
</script>
<style scoped >

</style>