<template>
  <div class="hello">
    <p>これは子コンポーネントだよ。使いまわしパーツとかはコンポーネント化するといいことがあるよ。</p>
    {{string}}<!-- propsて受け取った変数をそのまま表示する -->
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: [
    'string' //親コンポーネントで定義した変数を受け取るｓ
  ]
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
